### SQL common commands

`SELECT` - extracts data from a database  
`UPDATE` - updates data in a database  
`DELETE` - deletes data from a database  
`INSERT INTO` - inserts new data into a database  
`CREATE DATABASE` - creates a new database  
`ALTER DATABASE` - modifies a database  
`CREATE TABLE` - creates a new table  
`ALTER TABLE` - modifies a table  
`DROP TABLE` - deletes a table  
`CREATE INDEX` - creates an index (search key)  
`DROP INDEX` - deletes an index

### The SQL SELECT DISTINCT Statement

The `SELECT DISTINCT` statement is used to return only distinct (different) values.

Inside a table, a column often contains many duplicate values; and sometimes you only want to list the different (distinct) values.  
`SELECT DISTINCT Syntax`  
`SELECT DISTINCT column1, column2, ...`  
`FROM table_name;`

### Operators in The WHERE Clause

The following operators can be used in the WHERE clause:  
- `=` 	Equal  
- `>` 	Greater than   	
- `<` 	Less than   	
- `>=` 	Greater than or equal 	  
- `<=` 	Less than or equal 	  
- `<>` 	Not equal. Note: In some versions of SQL this operator may be written as !=  
- `BETWEEN` 	Between a certain range 	  
- `LIKE` 	Search for a pattern 	  
- `IN` 	To specify multiple possible values for a column


### The SQL ORDER BY Keyword

The `ORDER BY` keyword is used to sort the result-set in ascending or descending order.

The `ORDER BY` keyword sorts the records in ascending order by default. To sort the records in descending order, use the `DESC` keyword.

### ORDER BY Several Columns

The following SQL statement selects all customers from the "Customers" table, sorted ascending by the "Country" and descending by the "CustomerName" column:  
##### Example  
`SELECT * FROM Customers`  
`ORDER BY Country ASC, CustomerName DESC; `

### The SQL INSERT INTO Statement

The INSERT INTO statement is used to insert new records in a table.  
##### INSERT INTO Syntax

It is possible to write the `INSERT INTO` statement in two ways:  

1. Specify both the column names and the values to be inserted:  
`INSERT INTO table_name (column1, column2, column3, ...)`  
`VALUES (value1, value2, value3, ...);`  

2. If you are adding values for all the columns of the table,  
 you do not need to specify the column names in the SQL query.  
  However, make sure the order of the values is in the same order as the columns in the table.   
  Here, the `INSERT INTO` syntax would be as follows:  
`INSERT INTO table_name`
`VALUES (value1, value2, value3, ...);`

### How to Test for NULL Values?

It is not possible to test for `NULL` values with comparison operators,  
 such as `=`, `<`, or `<>`.  

We will have to use the `IS NULL` and `IS NOT NULL` operators instead.

### The SQL UPDATE Statement

The `UPDATE` statement is used to modify the existing records in a table. 


`UPDATE table_name`  
`SET column1 = value1, column2 = value2, ...`  
`WHERE condition;`

### The SQL DELETE Statement

The `DELETE` statement is used to delete existing records in a table.  
`DELETE FROM table_name WHERE condition;`